<md-bottom-sheet class="md-grid" >
  <md-list>
    <md-list-item>
     <md-button class="md-grid-item-content" ng-click="listItemClick(0)">
          <md-icon md-svg-src="img/ic_add_48px.svg"></md-icon>
          <div class="md-grid-text"> participate </div>
        </md-button>
        </md-list-item>
        <md-list-item>

        <md-button class="md-grid-item-content" ng-click="listItemClick(1)">
          <md-icon md-svg-src="img/ic_create_48px.svg"></md-icon>
          <div class="md-grid-text"> edit </div>
        </md-button>
    </md-list-item>
        <md-list-item>
        <md-button class="md-grid-item-content" ng-click="listItemClick(2)">
          <md-icon md-svg-src="img/ic_highlight_off_48px.svg"></md-icon>
          <div class="md-grid-text"> delete </div>
        </md-button>
    </md-list-item>
    
  </md-list>
</md-bottom-sheet>